@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
}

.container{
    max-width: 100%;
    margin: auto;
}
/* Header */
header{
    position: absolute;
    left:0px;
    right:0px;
}

header .navbar{
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 1;
    padding-top: 0%;
    padding-bottom: 0%;
    border-bottom: 1px solid lightseagreen;
}

header .navbar ul{
   list-style: none;
   padding:0;
   margin:0;
}

header .navbar ul li{
    display: inline-block;
    margin-left: 35px;
}

header .navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    line-height: 45px;
    color: whitesmoke;
    display: block;
    font-weight: 600;
    position: relative;
}

header .navbar ul li a:hover{
    color:lightseagreen;
}

#navbar-container{
    padding-left: 0;
}
/* Home */
.home{
    min-height: 100vh;
    background-image: url("developer.jpg");
    background-size: cover;
}

.home .home-content{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20%;
    padding-left: 20px;
}

.home .home-content .block{
    flex: 0 0 75%;
    max-width: 75%;
    color: whitesmoke;
    padding-left: 35px;
    border-left: 3px solid lightseagreen;

}

.home .home-content .block h6{
    font-size: 20px;
}

.home .home-content .block h1{
    font-size: 50px;
    font-weight: bold;
    color: lightseagreen;
}

.home .home-content .block h3{
    font-size: 24px;
}

/* About Me */
.about-me{
    padding:100px 15px;
    background-color: black;
    background-image: linear-gradient(black,darkgrey);
}

.about-me .section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.about-me .section-title h1{
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    position: relative;
    color: whitesmoke;
}

.about-me .section-title h1::before{
    content: '';
    left:0;
    position: absolute;
    height:2px;
    right:30%;
    background-color: lightseagreen;
    bottom:0px;
}

.about-me .section-title p{
    display: block;
    font-size: 15px;
    color: whitesmoke;
}

.about-me .about-content .img{
    padding-left: 14px;
    padding-top: 16px;
    flex:0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img{
    width: 100%;
}

.about-me .about-content .text{
    flex:0 0 66.66%;
    max-width: 66.66%;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
}

.about-me .about-content .text h4{
    padding-top: 3px;
    font-size: 30px;
    font-weight: 600;
    color: whitesmoke;
}

.about-me .about-content .text h6{
    font-size: 20px;
    font-weight: 600;
    color:whitesmoke;
}
.about-me .about-content .text h6 .color-font{
    color: lightseagreen;
}

.about-me .about-content .text p{
    padding-top: 10px;
    color: whitesmoke;
}

.about-me .about-content .text .info .list{
    flex:0 0 calc(50% - 1%);
    max-width: calc(50% - 1%);
    margin-top: 7px;
}

.about-me .about-content .text .info .list label{
    padding-right:10px;
    color: lightseagreen;
    font-weight: 600;
    font-size: 15px;
    margin:0;
}

.about-me .about-content .text .info p{
    padding-top: 0;
    font-size: 15px;
    margin:0;
}

.about-me .about-content .text .social-links{
    padding-top: 4px;
    font-size: 20px;
}

.about-me .about-content .text .social-links a{
    height:40px;
    width: 40px;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}
.about-me .about-content .text .social-links a .fa{
    color: lightseagreen;
    padding-top: 10px;
}

.about-me .about-content .text .social-links a .fa:hover{
    color: rgb(198, 207, 207);
}

/* Projects */
.projects{
    background-image: url("background.jpg");
    background-size: cover;
}

.projects .section-title{
    color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.projects .section-title h1{
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 40px;
    margin: 0;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid lightseagreen;
}

.projects .container{
    padding-bottom: 40px;
}

.projects .row{
    justify-content: center;
}

.projects .row .list{
    border: 1px solid rgb(198, 207, 207);
    border-radius: 5px;
    padding: 50px;
    margin: 20px;
    width: 400px;
    text-align: center;
}
.projects .row .list a{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 600;
}
#fishing{
    background-image: url("fishing.jpg");
    background-size: cover;
}

#properTech{
    background-image: url("propertech.jpg");
    background-size: cover;
}

#movie{
    background-image: url("movies.jpg");
    background-size: cover;
}

#dolly{
    background-image: url("dolly.jpg");
    background-size: cover;
}