

body{
	background-image: url(greencream.svg);
}
h1{
	color: blue;
	}
p{color: black;
}
.boldclass{
	font-weight: bold;
}
#bigId{
	font-size: 40px;
}
.image{
	display: block;
}

a{
	border:.5px solid blue;
	margin: auto;
	padding: .5px;
}
a{
	background-color: blanchedalmond;
}
a{color: blue;
}

.center {
  margin: 400px;
  width: 200px;
  height: 300px;
  border: 10px solid blue;
  padding: 10px;
}
img {
  float: right;
}
h2{
	text-underline-position: center
}
*{
	box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: blanchedalmond;
  padding: 0px;
}
.grid-item {
  background-color: rgba(100, 100);
  border: 2px solid rgba(0, 0, 1);
  padding: 5px;
  font-size: 20px;
  text-align: center;
 }
 img { 
  width: 100%; 
}
table {
	table-layout: fixed;
 }
table {
	table-layout: auto;
}
img{
	flood-color: blanchedalmond;
}
h5{
	border-width: 10px;
}
h4{
	color: green;
}
b{
	animation-direction: reverse;
}
q{
	font-size: 10px;
}
s{
	flex-direction: column-reverse;
}
table{
	size: 100px;
}

